body {
    font-family: Arial;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: gre;
}

h1 {
    background-color: lightblue;
    color: black;
    padding: 10px;
    text-align: center;
}

h2 {
    color: black;
    padding: 10px;
    text-align: center;
}

h3 {
    text-align: right;
    margin: 30px;
}

a:link {
    text-decoration: underline;
    color: blue;
}

a:visited {
    color: blue;
}

nav {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: black;}

/* nav ul {
    color: green;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
} */

nav ul li {
    display: inline;
    margin: 40px;
    color: black;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 590px){
    .content{
        display: list-item;
    }
    nav ul li {
        display: list-item;

    }
}

.post {
    background-color: white;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.post img {
    
    width: 80%;
}

.post h2 {
    font-size: 24px;
    color: #333;
}

.post p {
    font-size: 16px;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.xboxcont {
    background: white;
    margin: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-radius: 50px;

}

.pros {
    background: white;
    margin: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}